{% extends 'base.html' %}

{% block title %}Створити запис{% endblock %}

{% block h1 %}Створити запис{% endblock %}

{% block body %}

<div class="alert alert-success">
  <form method="post">
    <label for="title">Назва</label>
    <input type="text" name="title" id="title" class="form-control" placeholder="Title"><br>
    <p>Оберіть сторону шафи:</p>
    <input type="radio" id="side" name="side" value="Left">
    <label for="html">Left Side</label>
    <input type="radio" id="side" name="side" value="Right">
    <label for="html">Right Side</label><br><br>
    <p>Оберіть колір полиці:</p>
    <input type="radio" id="color" name="color" value="Yellow">
    <label for="html">Yellow</label>
    <input type="radio" id="color" name="color" value="Blue">
    <label for="html">Blue</label>
    <input type="radio" id="color" name="color" value="Red">
    <label for="html">Red</label>
    <input type="radio" id="color" name="color" value="Green">
    <label for="html">Green</label><br><br>
    <p>Чи це соло гра:</p>
    <input type="radio" id="people" name="people" value="Yes">
    <label for="html">Yes</label>
    <input type="radio" id="people" name="people" value="No">
    <label for="html">No</label><br><br>
    <label for="type">Тип гри</label>
    <input type="text" name="type" id="type" class="form-control" placeholder="Type of the game"><br>
    <label for="Description">Опис гри</label>
    <textarea name="description" id="description" class="form-control" placeholder="Description"></textarea><br>
    <input type="submit" class="btn btn-success" value="Create">
  </form>
</div>

{% endblock %}
